// font size
$heading-1: 60px;
$heading-2: 48px;
$heading-3: 40px;
$heading-4: 30px;
$heading-5: 24px;
$heading-6: 18px;

// color
$sky-blue: #46a4f8;
$grey: #555555;
$white: #ffffff;
$yellow: #fddd0e;
$red: #e74c3c;
$green: #2ecc71;

// radious
$button-border-radious: 8px;
