@import "../commonStyle/variables";

.uiButton {
  align-items: center;
  border-radius: $button-border-radious;
  width: 10rem;
  height: 2rem;
  border-style: none;
  color: $white;
  background-color: $sky-blue;
}
